@import '../../../../sass/abstracts/definitions';

.fieldWrapper{
	input {
		width: $inputWidth;
		border: none;
		border-bottom: 1px solid $mainDarkBGColor;
		outline: none;
		font-size: $mainInputTextSize;
		font-weight: 500;
		margin-bottom: 25px;
	}

	div {
		//color: red;
		//font-size: 11px;
		//position: absolute;
	}
}