@import "../../sass/abstracts/definitions";

%rowFieldPlaceholder {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

%buttonFieldPlaceholder {
	background-color: $mainDarkBGColor;
	color: $whiteTextColor;
	font-family: 'PT Sans', sans-serif;
	width: 154px;
	height: 32px;
	border: none;
	cursor: pointer;
}

%inputFieldPlaceholder {
	input {
		width: $inputWidth;
		border: none;
		border-bottom: 1px solid $labelTextColor;
		outline: none;
		font-size: $mainInputTextSize;
		font-weight: 500;
	}

	label {
		padding-top: 7px;
	}
}

%buttonDisabledPlaceholder {
	cursor: not-allowed;
	opacity: 70%;
}